# ==========================
# Python & VSCode
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
.env
.vscode/

# ==========================
# Virtual environments
# ==========================
venv/
.venv/
env/

# ==========================
# Streamlit cache
# ==========================
.streamlit/
logs/
.cache/

# ==========================
# Jupyter / Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Data files
# ==========================
*.csv
*.tsv
*.xlsx

# ==========================
# Model & Checkpoints
# ==========================
*.pkl
*.joblib
models/*.pkl

# ==========================
# SQLite / DB
# ==========================
*.db
*.sqlite
db/traffic.db

# ==========================
# System
# ==========================
.DS_Store
Thumbs.db
